WEB.ADDR=127.0.0.1:9527
WEB.SECRET_KEY=<32个英文字符>
PG.HOST=127.0.0.1
PG.PORT=5432
PG.USER=axum_rs
PG.PASSWORD=axum.rs
PG.DBNAME=axum_rs
PG.POOL.MAX_SIZE=30
REDIS.DSN=redis://127.0.0.1:6379
SESSION.PREFIX=axumrs:session:
SESSION.ID_NAME=axumrs_session
SESSION.EXPIRED=1200
HCAPTCHA.SITE_KEY=<你的HCAPTCHA SITE_KEY>
HCAPTCHA.SECRET_KEY=<你的HCAPTCHA SECRET_KEY>
