<div class="card-footer clearfix">
  <ul class="pagination pagination-sm m-0 float-right">
    <li class="page-item"><a class="page-link" href="#">«</a></li>
    {% for i in 0..subject_list.total_pages %}
    <li class="page-item">
      <a
        class="page-link"
        href="?page={{ i }}&keyword={{ arg.keyword() }}&is_del={{
          arg.is_del()
        }}"
        >{{ i + 1 }}</a
      >
    </li>
    {% endfor %}
    <li class="page-item"><a class="page-link" href="#">»</a></li>
  </ul>
</div>
