{% extends "../base.html" %}
{%block title %}关于我们{%endblock%}
{%block parent_title %}关于{%endblock%}
{%block parent_url%}/about{%endblock%}
{%block content %}
<div class="card">
    <div class="card-body">
        <p> AXUM中文网(axum.rs)为你提供了使用axum进行企业级Web开发中所需要的大部分知识。从基础知识到企业级项目的开发，都有完整的系列教程。更难得的是，除了文字教程，我们还录制了配套的视频教程，方便你以多种形式进行学习。</p>
        <h2 id="技术栈">技术栈</h2>
        <p>本站使用了大量的开源及免费项目，对这些伟大的项目表示感谢。</p>
        <ul>
            <li><a target="_blank" href="https://www.rust-lang.org/">Rust</a></li>
            <li><a target="_blank" href="https://github.com/tokio-rs/axum">AXUM</a></li>
            <li><a target="_blank" href="https://www.postgresql.org/">PostgreSQL</a></li>
            <li><a target="_blank" href="https://redis.io/">Redis</a></li>
            <li><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
            <li><a target="_blank" href="https://adminlte.io/">AdminLTE</a></li>
            <li><a target="_blank" href="https://InventIcons.com">InventIcons</a></li>
        </ul>
        <blockquote>
            <p>更多 Rust 依赖，请参见 <a target="_blank" href="https://github.com/axumrs/axum-rs/blob/main/Cargo.toml"><code>Cargo.toml</code></a> 文件</p>
        </blockquote>
        <h2 id="开源">开源</h2>
        <p>本站所有项目都是开源项目：</p>
        <ul>
            <li>Github<ul>
                    <li>首页：<a target="_blank" href="https://github.com/axumrs">axumrs</a></li>
                    <li>本站源码：<a target="_blank" href="https://github.com/axumrs/axum-rs">axumrs/axum-rs</a></li>
                </ul>
            </li>
            <li>GitLab<ul>
                    <li>首页：<a target="_blank" href="https://gitlab.com/axumrs">axumrs</a></li>
                    <li>本站源码：<a target="_blank" href="https://gitlab.com/axumrs/axum-rs">axumrs/axum-rs</a></li>
                </ul>
            </li>
            <li>Gitee<ul>
                    <li>首页：<a target="_blank" href="https://gitee.com/axumrs">axumrs</a></li>
                    <li>本站源码：<a target="_blank" href="https://gitee.com/axumrs/axum-rs">axumrs/axum-rs</a></li>
                </ul>
            </li>
        </ul>
        <h2 id="联系我们">联系我们</h2>
        <ul>
            <li>电子邮件：<code>team@axum.rs</code></li>
            <li>TG群：<code>t.me/axumrs</code></li>
        </ul>
        <h2 id="捐助">捐助</h2>
        <ul>
            <li>ETH：<code>0x6c590427448548D80945C938c060E12Ec8C74d9c</code></li>
            <li>XRM：<code>48YeQoqNV6xA7iDDePGgPPYFaC5qY958ZUcALbaTSX8m8wzHEa4tFGLRYGCSVgugPLPsNo7dpqcBMJpFQPCxPTnz5hXZbpr</code></li>
        </ul>

    </div>
</div>
{%endblock%}
