{% extends "../base.html" %}
{%block title %} {{ topic.title }} {%endblock%}
{%block parent_title %}{{topic.subject_name}}{%endblock%}
{%block parent_url%}/subject/{{topic.subject_slug}}{%endblock%}
{%block content %}
    <div class="card">
        <div class="card-header">
            <div class="text-muted text-sm">
                浏览：{{ topic.hit + 1 }} 时间：{{ topic.dateline() }} 作者：{{ topic.author }} 来源：{{ topic.src }}
            </div>
        </div>
        <div class="card-body axumrs-detail" style="min-height:30em">
            {{ topic.html|safe }} 
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col">
                    <a href="/subject/{{topic.subject_slug}}" class="btn btn-outline-secondary btn-xs">
                        <i class="fas fa-cube"></i>
                        {{ topic.subject_name }}
                    </a>
                </div>
                <div class="col">
                    <div class="text-right text-sm">
                        {% for tag in topic.tag_names %}
                        <a class="badge  topic-tag" href="/tag/{{tag}}">{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cannot-connect-google-modal" tabindex="-1" aria-labelledby="cannot-connect-google-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cannot-connect-google-modal-label">无法访问Google?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>你好像不能正常访问 Google reCaptcha，是否切换到 hCaptcha？</div>
              <table>
                <thead>
                    <tr>
                        <th>Google reCaptcha</th>
                        <th>hCaptcha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>大概率自动完成人机验证</td>
                        <td>需要手动完成人机验证</td>
                    </tr>
                    <tr>
                        <td>小概率触发手动完成人机验证时，只要完成一次即可显示所有隐藏内容</td>
                        <td>需要手动完成最多3次人机验证，每次显示一段隐藏内容</td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
              <button type="button" class="btn btn-primary" onclick="window.location.href = window.location.href+'?hc=1'">切换到 hCaptcha</button>
            </div>
          </div>
        </div>
      </div>
{%endblock%}
{% block css%}
    <link rel="stylesheet" href="/static/highlight.js/default.min.css" />
    <style>
        .captcha-notice::before {
            content: '正在进行人机验证，请确保你能正常访问Google';
        }
    </style>
{%endblock%}
{%block js%}
<script src="/static/highlight.js/highlight.min.js"></script>
<script>
    $(function(){
        const cls = [ 'info', 'success', 'warning', 'danger'];
        const clsLen = cls.length;
        $('.topic-tag').each(function(idx, ele) {
            const clsName = `badge-${cls[idx%clsLen]}`;
            $(ele).addClass(clsName);
        });
    });
    hljs.highlightAll();
</script>
<script>
    {%if hc%}
    {% for uuid in uuids %}
    function get_procted_content_{{uuid}}(response) {
        let item =  $('#hcaptcha-{{uuid}}');
        item.html(`<div class="text-center">
            <div class="spinner-grow text-info" role="status">
            <span class="sr-only">请稍等……</span>
            </div>
            </div>`);
        get_procted_content('{{uuid}}', response,{{hc}});
    }
    {%endfor%}
    {%else%}
    function get_procted_content_recaptcha(token) {
        const ids = '{{uuids|join(",")}}';
        get_procted_content(ids,token, false);
    }
    window.onload = () => {
        try{
        grecaptcha.execute();
        }catch(e) {
            console.log(e);
            $('#cannot-connect-google-modal').modal('show');
        }
    }
    {%endif%}
    function get_procted_content(id, response,hc) {
        $.post('/topic/get_procted_content', {id, response, hc}, function(datas) {
            for(const data of datas ){
                let item =  $('#hcaptcha-' + data.uuid);
            if(data && data.tag && data.content) {
                let html = `<${data.tag} id="procted_content_${data.uuid}" style="border:5px solid #17a2b8">${data.content}</${data.tag}>`;
                item.after(html);
                item.remove();
                if (data.tag === 'pre'){
                    hljs.highlightElement($(`#procted_content_${data.uuid}`)[0]);

                }
           for(let i = 0; i<5;i++){
               $(`#procted_content_${data.uuid}`).animate({borderWidth:"-=1px"}, 'slow');
           }
                            $('.axumrs-content  img').each(function(){
                                        $(this).addClass('img-fluid');
                                    });
                            $('.axumrs-content table').each(function(){
                                        $(this).addClass('table').addClass('table-striped').addClass('my-3');
                                    });
            $(`#captcha-notice-${data.uuid}`).hide();
       } else {
               item.html('<div class="text-danger py-3">获取内容失败，请刷新页面重试。</div>');
        }
            }
            
    });
}
</script>
{%if hc%}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
{%else%}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{%endif%}
{%endblock%}
