{% extends "../base.html" %} 
{% block parent_title %}账号管理 {% endblock %} 
{% block parent_url %}admin{% endblock %}
{% block title %}修改账号{% endblock %}
{% block content %}
<form action="/admin/admin/edit/{{admin.id}}" method="post">
    <input type="hidden" name="id" value="{{ admin.id }}" />
    <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" class="form-control-plaintext" readonly autocomplete="off" id="username" name="username" value="{{ admin.username }}" placeholder="用户名" required>
    </div>
    <div class="form-group">
        <label for="password">你的密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="你的密码" required>
    </div>
    <div class="form-group">
        <label for="new_password">新密码</label>
        <input type="password" class="form-control" id="new_password" name="new_password" placeholder="新密码" required>
    </div>
    <div class="form-group">
        <label for="re_password">重复密码</label>
        <input type="password" class="form-control" id="re_password" name="re_password" placeholder="重复密码" required>
    </div>
    <button type="button" class="btn btn-secondary" onclick="history.back();">取消</button>
    <button type="submit" class="btn btn-primary">提交</button>
</form>
{% endblock %}
